*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lexend Deca", Arial, Helvetica, sans-serif;
  margin: 0;
  background: hsl(0, 0%, 95%);
  height: 100vh;
  display: flex;
  justify-content: center;
}

h1 {
  font-weight: bold;
  font-size: 4rem;
  font-family: "Big Shoulders Display", cursive;
  margin-bottom: 3rem;
  margin-top: 0;
  color: hsl(0, 0%, 95%);
  text-transform: uppercase;
}
p {
  font-size: 1.2rem;
  line-height: 2rem;
  color: hsla(0, 0%, 100%, 0.75);
}

.btn {
  padding: 1rem 2rem;
  background: hsl(0, 0%, 95%);
  border: none;
  border-radius: 30px;
  transition: background 0.3s ease;
  margin: 2rem 0;
  cursor: pointer;
  border: 2px solid hsl(0, 0%, 95%);
}

.btn--primary {
  color: #e28525;
}
.btn--secondary {
  color: #016972;
}

.btn--third {
  color: #00403f;
}
.btn:hover {
  color: hsl(0, 0%, 95%);
  background: none;
  
}

.card {
  /* width: 200px; */
  border-radius: 10px;
  padding: 2rem;
  /* overflow: hidden; */
  text-align: left;
  max-width: 250px;
}
img {
  margin-bottom: 3rem;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  /* margin: 2rem; */
  /* padding: 1rem; */

  margin-top: 2rem;
  margin-bottom: 2rem;
  grid-template-rows: repeat(3, 1fr);
  padding: 1rem;

  /* width: 100%; */
}
.card--primary {
  background: #e28525;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.card--secondary {
  background: #016972;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.card--third {
  background: #00403f;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
@media screen and (min-width: 639px) {
  .card--primary {
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }
  .card--third {
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
  }
  .container {
    grid-template-columns: repeat(3, 1fr);
    max-width: 770px;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
  }
}
